<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(main)">
<!-- // toan bo layout dk dat ten fragment:layra hien thi duoi article -->
<head>
    <meta charset="UTF-8"/>
    <title>Java 6 Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/shopping-cart.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body class="container" ng-app ="shopping-cart-app" ng-controller="shopping-cart-ctrl">
<header class="row"></header>
<nav class="row">
    <div th:replace="/layout/menu.html"></div>
</nav>
<div class="row">
    <article class="col-sm-9">
        <div th:replace="${main}"></div>
    </article>
    <aside class="col-sm-3">
        <div th:replace="/layout/cart-info.html"></div>
        <div th:replace="/layout/category.html"></div>
    </aside>
</div>
<footer class="row">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <h4>FPT Polytechnic</h4>
        </div>
    </div>
</footer>
<script src="/assets/js/shopping-cart-app.js"></script>
</body>
</html>
